@grey: #393939;
@orange: #FF5A09;
@lgrey:#6E6E6E;
@salmon:#F3843E;
@yellow:#FF9900;

@import "bootstrap";
@import "gridster";
@import "font-awesome";
@import "mathquill";

@brand-primary: @orange;
@brand-warning: @yellow;

.click-fix {cursor: pointer;}

.delete-drop {
    border: solid 1px @orange;
    color: @orange;
    padding:10px;
    margin-top: 20px;
    display: inline-block;
}

.dragging {
    border: solid 1px @orange;
}

img.block-image {
    width: auto;
    height: auto;
    position:absolute;
    right:0px;
    bottom:0px;
}

i.remove-overlay {
    position:absolute;
    bottom:-3px;
    right:-2px;
    .fa;
    .text-danger;
}

.position-renderer:focus {
    border-color:transparent;
    box-shadow:transparent;
    outline:0 none;
}

.calculator {
    width:99%;
    height:400px;
}

i {.fa;}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
    background-color: @grey;
    padding:20px;
}

.bigger {
    font-size:110%;
    font-weight: bold;
}

.block-menu {
    .btn-group-vertical;
    position:absolute;
    left:-28px;
    z-index:100;
    button {
        .btn;
        .btn-default;
        width:22px;
    }
    .fa-stack {
        font-size:75%;
        .bigger {
            font-size: 150%;
            font-weight: bold;
        }
    }
}

.question-number {
    display: inline-block;
    vertical-align:top;
    padding-right: 2px;
}

.mathquill-editable {
    border-color:transparent;
    overflow:hidden;
    padding:0px;
}

.equation-renderer-container {
    display: inline-block;
    vertical-align:top;
    margin-top:-1px;
}

.equationEditorMenu {
    width:300px;
    .btn-group;
    position:absolute;
    z-index:10;
    button {
        .btn;
        width:22px;
        .btn-default;
        img {
            height:10px;
        }        
    }
}

.indented {
    padding-left: 20px;
}

.tree span {
    padding:5px;
}

.black-text {
    color:black;
}

.inline {
    display:inline-block;
}

.tree-spacing {
    padding-top:5px;
    padding-bottom: 5px;
}

.grid-editor {
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

span.tree-caret {
    width:14px;
    display:inline-block;
    color: @orange;
}

.tree-icon {
    color: @orange;
    padding-left: 5px;
    padding-right: 5px;
}

span.doc-icon {
    padding-left: 20px;
}

#logo {
    color:@orange;
}

.side-nav {
    border: solid 2px @lgrey;
    border-radius: 5px;
    .text-center;
    padding:5px;
    .btn {
        .btn-xs;
        width:115px;
    }
}

img.profile-pic {
    .circle(40px);
}

.circle(@dim) {
        height: @dim;
        width: @dim;
        //border:1px solid transparent;
        border-radius: 50%;
        .text-center;
}

span.tree-buttons {
    position:absolute;
    padding:0px;
}

.name {
    font-size:150%;
    padding-left: 10px;
    height:40px;
}

.modal {
    .black-text;
}

.invitation {
    //margin-top: 100px;
    button {
        margin-left:15px;
    }
}

input {
    .black-text;
}

// SPINNER //

    .center-spinner {
        color:@brand-primary;
        position: fixed;
        height: 15%;    
        width: 25%;
        top: 40%;
        left: 40%;
        padding: 10px;
    }