@grey: #393939;
@orange: #FF5A09;
@lgrey:#6E6E6E;
@salmon:#F3843E;
@yellow:#FF9900;

@import "bootstrap";
@import "gridster";
@import "font-awesome";

@brand-primary: @orange;
@brand-warning: @yellow;

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
    background-color: @grey;
    padding:20px;
}

.position-renderer {
    position:absolute;
}

.grid-editor {
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

#logo {
    color:@orange;
}

.side-nav {
    border: solid 2px @lgrey;
    border-radius: 5px;
    .text-center;
    padding:5px;
    .btn {
        .btn-sm;
        width:125px;
        i {
            .pull-right;
            .fa;
        }
    }
}

img.profile-pic {
    .circle(40px);
}

.circle(@dim) {
        height: @dim;
        width: @dim;
        //border:1px solid transparent;
        border-radius: 50%;
        .text-center;
}

.name {
    font-size:150%;
    padding-left: 10px;
    height:40px;
}