@import "bootstrap";
@import "font-awesome";
@import "mathquill";
@import "pod-styles";
@import "gridstack";
@import "nav";
@import "dropdown";
@import "splash";
@import "grabbing";
@import "spinner";
@import "editor";
@import "tooltip";

@font-size-base: 16px;
@font-family-sans-serif: 'Droid Sans', sans-serif;
.logo {font-family: 'Damion', cursive}

// COLORS

    @grey: #393939;
    @orange: #FF5A09;
    @lgrey:#6E6E6E;
    @salmon:#F3843E;
    @yellow:#FF9900;
    @dgrey:#282828;

    @brand-primary: @orange;
    @brand-warning: @yellow;
    @brand-success: @dgrey;

    @state-success-text:@orange;
    @state-success-bg:@dgrey;

    .orange {color:@orange}
    .yellow {color:@yellow}
    .red {color:red}
    .green {color:green}

    @body-bg:@grey;
    @text-color:@gray-lighter;
    @input-color:black;
    input {color:black}

.click-fix {cursor: pointer}
.arrow {cursor: default }
.absolute {position:absolute}
.larger-heading {font-size: 150%}
.fill {height:100%;width:100%}
.shepherd {width:300px}

.bold {font-weight: bold}

.container-fluid {.standard-padding}

.standard-padding {
    padding:20px;
}

:focus {
    //border-color:transparent;
    box-shadow:transparent;
    outline:0 none;
}

hr {border-color:@lgrey}

.size14 {font-size: 14px}
.size12 {font-size: 12px}
.size10 {font-size:10px}

i {.fa}

.highlight {
    border: 3px solid @orange
}

.self-center {
    top:50%;
    position:absolute;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.arrow-div {
    height:300px;
    .self-center {width:80%}
}

.inline {display:inline-block;}

// DRAG AND DROP

    .delete-drop {
        border: solid 2px @orange;
        border-radius: 25%;
        color: @orange;
        padding:10px;
        margin-top: 20px;
        display: inline-block;
        position:absolute;
        top:0px;
        right:20px;
    }

// ME

    .account {
        padding-bottom: 22px;
    }