& {
    color: black;
    background-color: white;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.controls {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    background-color: transparent;
    -webkit-padding-start:0px;
    -moz-padding-start:0px;
}

li {
    text-align: left;
    word-wrap: break-word;
}

.player {
    background: #BBB;
    opacity: 0.8;
}

.preview-holder {
    border: none!important;
    background: red!important;
}