& {
    color: black;
    background-color: white;
    margin: 0 auto;
    font-size: 12px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding:31.5px;
    height:792px;
    width:612px;
    margin-left:132px;
    line-height: normal;
}

.grid-stack-placeholder > .placeholder-content {
    background: #BBB;
    opacity: 0.8;
}