& .grid-stack-item-content {
    background: #DDD;
    border:solid 1px transparent;
    word-wrap: break-word;
    cursor:pointer;
}

& .grid-stack-item-content.active {
    cursor: move;
	border-color: blue;	
}

&:focus {
    //border-color:transparent;
    box-shadow:transparent;
    outline:0 none;
}

& .grid-stack-item-content.invalid {border-color: red}

.question-number {
    position:absolute;
    margin-top:2px;
}