& {
    background: #DDD;
    z-index:auto;
}

&.active {
    cursor: move;
	border:solid 1px blue;	
}

&:focus {
    //border-color:transparent;
    box-shadow:transparent;
    outline:0 none;
}

&.invalid {border: solid 1px red}

.question-number {
    position:absolute;
}

&.static {
	cursor:pointer;
	.gs-resize-handle {display:none}
}

.gs-resize-handle {
    bottom: -12px;
    right: -12px;
}