&:focus {
    border-color:transparent;
    box-shadow:transparent;
    outline:0 none;
}

&.invalid {border: solid 1px red}

.question-number {
    display: inline-block;
    vertical-align:top;
    padding-right: 2px;
}