& {
	display:inline-block;
}

.content {
	border: 1px solid transparent;
}

&.active .content {
	border: 1px solid blue;
}

.mathquill-editable {
    overflow:hidden;
    padding:2px;
    border:0px;
    cursor:text;
}

.mathquill-editable.empty {
	background-color:#ccc;
	opacity:0.5
}

.hasCursor {
	box-shadow: none;
}