& {
	display:inline-block;
}

&.active .content {
	background-color: rgba(186, 201, 230, 0.5);
}

.mathquill-editable {
    overflow:hidden;
    padding:2px;
    border:0px;
    cursor:text;
}

.mathquill-editable.empty {
	border: 1px dotted #99CCFF
}

.hasCursor {
	box-shadow: none;
}

.content > .mathquill-rendered-math {
  border: 2px dotted #F3F3F3
}