& {
  display: inline-block;
  border: 1px solid transparent;
  padding-top:7px;
  position:relative
}

&.static .grabbable {cursor:default}

//&.static span {cursor:default}

&.active span {color:@yellow}
&.active .tree-icon {color:@yellow}

.tree-icon {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.tree-caret {
  width:14px;
  display:inline-block;
  color: @orange;
}

&.show-menu {
  border-top-color: @lgrey;
  background-color: @dropdown-bg;
  .box-shadow(0 6px 12px rgba(0,0,0,.175));
}